.nav {
    background-color: rgb(96, 65, 118);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    justify-content: center;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
}
.btn {
    width: 200px;
    height: 50px;
    background-color: rgb(96, 65, 118);
    margin: 5px;
    line-height: 50px;
    border-left: 2px dashed black;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 20px;
    color: white;
    letter-spacing: 2px;
}
.btnLast {
    width: 200px;
    height: 50px;
    background-color: rgb(96, 65, 118);
    margin: 5px;
    line-height: 50px;
    border-left: 2px dashed black;
    border-right: 2px dashed black ;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
}