.product {
    text-align:center
}

.blackandwhite {
    filter: grayscale(100%);
}

.kafla {
    
      width: "30%";
      display: inline-block;
  
   
}

.price {
    text-align: center;
    color: red;
    font-family: fantasy;
    font-: 300;
  }